<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="folder === 'Saludos' || folder === 'Actos'">
  <ion-card *ngFor="let saludo of saludos">
    <ion-img src={{saludo.img}} style="height: 200px; width: 100%;"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{saludo.subtitle}}</ion-card-subtitle>
      <ion-card-title>{{saludo.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content style="text-align: justify;" *ngIf="!saludo.truncating && saludo.content.length > limit">
      {{saludo.content}}
    </ion-card-content>
    <ion-card-content style="text-align: right;">
      <ion-button style="text-transform:none" size="small" (click)="saludo.truncating = false"
        *ngIf="saludo.truncating === true">Mostrar</ion-button>
      <ion-button  style="text-transform:none" size="small" (click)="saludo.truncating = true"
        *ngIf="saludo.truncating === false">Ocultar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>